@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap");
@import url(./variables.css);
@import url(./img-block.css);
@import url(./clinic.css);
@import url(./registry.css);
@import url(./pioneers.css);
@import url(./careers.css);
@import url(./technology.css);

/* ----- common styles ----- */
body {
    font-family: "Inter", "Roboto";
    font-size: 1rem;
    background: var(--primary-color);
    color: var(--text-color);
}
[class*="__container"] {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .main {
        flex-grow: 1;
    }
    .footer {
        flex: 0 1 auto;
    }
}
button {
    border: 0.1rem solid var(--text-color);
    border-radius: 1.5rem;
    padding: 0.8rem;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}
button:hover {
    background: var(--hover-btn-color);
}
a,
nav a,
.header__site-brand,
li a {
    transition: all 0.4s ease-in-out;
}
@media (max-width: 46.25rem) {
    button {
        padding: 0.4rem;
    }
}

a:hover {
    transform: scale(1.04);
}
nav a:hover,
.header__site-brand:hover,
li a:hover {
    transform: scale(1.08);
    text-shadow: 0.02em 0.02em 0.02em var(--text-shadow-color);
}

/* ----- header styles ----- */
.header {
    position: fixed;
    z-index: 50;
    width: 100%;
    background: var(--primary-color);
    .header__container {
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
        align-items: center;
    }
    .header__site-brand {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .header__logo {
        width: 3rem;
    }
    .header__title {
        font-family: "Orbitron";
        text-shadow: 0.15em 0.15em 0.1em var(--text-shadow-color);
    }
    .header__navigation {
        display: flex;
        gap: 1rem;
        align-items: center;
        ul {
            display: flex;
            gap: 1rem;
        }
    }
    .header__btn-nav {
        width: 2.3rem;
        height: 0.2rem;
        background: var(--text-color);
        position: relative;
        display: none;
    }
    .header__btn-nav::before {
        content: "";
        width: 100%;
        height: 100%;
        background: var(--text-color);
        position: absolute;
        top: -0.6rem;
    }
    .header__btn-nav::after {
        content: "";
        width: 100%;
        height: 100%;
        background: var(--text-color);
    }
    .header__btn-block {
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    @media (max-width: 46.25rem) {
        .header__btn-nav {
            display: block;
        }
        .header__navigation {
            display: none;
        }
    }
}

/* ----- main styles ----- */
.main {
    padding-top: 5rem;

    .main__hero {
        background: url(../img/bg-1.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        .main__container {
            height: 100%;
        }
        .main__inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            justify-content: center;
            align-items: center;
            max-width: 30rem;
            text-align: center;
            padding-bottom: 5rem;
            .main__title {
                font-size: 3rem;
                font-weight: 600;
            }

            .main__button {
                max-width: max-content;
            }
        }
    }
    @media (max-width: 46.25rem) {
        .main__hero {
            height: fit-content;
        }
        .main__inner,
        .main__inner > a > button {
            text-shadow: 0.2rem 0.2rem 0.2rem var(--primary-color);
        }
    }
    .main__description {
        display: flex;
        gap: 1rem;
        padding: 3rem 0;
        align-items: center;
        .main__label {
            font-size: 2rem;
            text-align: left;
            max-width: 20rem;
            margin-bottom: 2rem;
            font-family: "Orbitron";
            letter-spacing: 0.3rem;
            line-height: 2.3rem;
            text-shadow: 0.1rem 0.1rem 0.1rem var(--text-shadow-color);
        }

        .main__text {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
    @media (max-width: 46.25rem) {
        .main__description {
            flex-direction: column;
            padding: 0;
        }
        .main__label {
            min-width: 100%;
        }
    }
}

/* ----- footer styles ----- */
.footer {
    background: var(--primary-color);
    .footer__container {
        display: flex;
        gap: 1rem;
        align-items: center;
        text-align: center;
    }
    .footer__contacts {
        flex-shrink: 1;
        .footer__list {
            flex-wrap: wrap;
            gap: 0.5rem;
            img {
                width: 2rem;
            }
        }
    }
    .footer__legal {
        flex-grow: 1;
    }
    .footer__rights {
        flex-shrink: 0;
    }
    .footer__list {
        display: flex;
        gap: 4rem;
        justify-content: center;
    }
    @media (max-width: 46.25rem) {
        .footer__container {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
        }
        .footer__legal {
            display: none;
        }
    }
}
