/* Define CSS variables for light and dark mode */
:root {
    --primary-color: 
    whitesmoke;
    --secondary-color: rgba(195, 232, 255, 0.608);
    --text-color: black;
    --text-shadow-color: rgb(159, 218, 255);
    --label-color: grey;
    --block-plate-color: rgba(159, 218, 255, 0.81);
    --hover-btn-color: rgba(159, 218, 255, 0.312);
}

