/* Define CSS variables for light and dark mode */
:root {
    --primary-color: 
    white;
    --secondary-color: rgba(249, 226, 231, 0.625);
    --text-color: black;
    --text-shadow-color: rgb(210, 147, 147);
    --label-color: grey;
    --block-plate-color: rgba(255, 201, 201, 0.863);
}

/* Dark mode variables */
/* .dark-mode {
    --bg-color: #2e2e2e;
    --text-color: #f1f1f1;
    --table-border-color: #555555;
    --header-bg-color: #444444;
    --header-text-color: #ffffff;
} */
